/* Global */
body, html {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.right-nav {
    float: right;
}

a {
    text-decoration: none;
}

/* Header */

#header {
    padding: 5px;
    height: 60px;
    align-items: center;
}

#top-navbar {
    float: right;
    display: table-row;
}

#header-links {
    display: table-cell;
    line-height: 45px;
}

#header-links a {
    padding-left: 15px;
}

#header-imgs #google-apps {
    padding-left: 15px;
    padding-right: 15px;
}

#header-imgs {
    display: table-cell;
    vertical-align: middle;
}

#top-navbar a {
    color: #000000;
    font-size: 13px;
}

#profile-picture {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

#google-apps {
    filter: invert(0.4)
}

/* Main */
#main-logo {
    padding: 30px;
}

#main-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* The 3 steps above center the image */
}

#search-bar {
    width: 100%;
}

#search-bar-box {
    width: auto;
    max-width: 584px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 24px;
    border: 1px solid #dddddd;
    padding: 5px;
    align-items: center;
}

#search-bar img {
    margin-top: 1px;
}

input.search {
    border: none;
    display: flex;
    width: 100%;
    height: 28px;
}

img.search-img {
    display: flex;
    flex: 1;
    height: 20px;
    filter: invert(0.4);
}

img.mic-img {
    display: flex;
    flex: 1;
    height: 24px;
}

#buttons-container {
    text-align: center;
    padding-top: 18px;
}

input.btn {
    padding: 10px;
    margin: 5px;
    background-color: #F8F9FA;
    border: none;
    border-radius: 5%;
    color: #505050;
    cursor: pointer;
}


/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer-navbar {
    background-color: #f2f2f2;
    padding: 20px;
}

#footer-navbar a {
    color: #505050;
    font-size: 14px;
    padding: 10px;
}