/* Global */
body, html {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.right-nav {
    float: right;
}

a {
    text-decoration: none;
}

/* Header */

header {
    padding: 30px;
}

#top-navbar a {
    color: #000000;
    font-size: 13px;
}

#profile-picture {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

/* Main */
#main-logo {
    padding: 30px;
}

#main-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* The 3 steps above center the image */
}

#search-bar {
    width: 100%;
}

#search-bar-box {
    width: auto;
    max-width: 584px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 24px;
    border: 1px solid;
}

#search-bar img {
    margin-top: 1px;
}

input.search {
    width: 70%;
}

#buttons-container {
    text-align: center;
}

input.btn {
    padding: 10px;
    margin: 5px;
    background-color: #dddddd;
    border: none;
    border-radius: 5%;
    color: #505050;
    cursor: pointer;
}


/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer-navbar {
    background-color: #dddddd;
    padding: 20px;
}

#footer-navbar a {
    color: #505050;
    font-size: 14px;
    padding: 10px;
}